<div class="container" ng-app="WAMO">
	<div ui-view="movelist"></div>
	<div ui-view="followup"></div>
	<menu icon-open="glyphicon-chevron-right" icon-close="glyphicon-chevron-left">
		<a href="#/ryu" id="ryu">ryu</a>
		<a href="#/chunli" id="chunli">chunli</a>
		<a href="#/dudley" id="dudley">dudley</a>
	</menu>
</div>