<div class= "container" ng-app="WAMO">
	<a href="#/ryu" id="ryu">ryu</a>
	<a href="#/chunli" id="chunli">chunli</a>
	<a href="#/dudley" id="dudley">dudley</a>
	<div ui-view="movelist"></div>
	<div ui-view="followup"></div>
</div>